@charset "utf-8";
/* CSS Document */




.portafolio{
    width: 100%; 
	max-width: 1000%;
    margin: auto;
        
}
.portafolio-container{
    display: flex;
    justify-content: space-between;
}
.portafolio-item{
    position: relative;
    overflow: hidden;
}
.portafolio-img{
    transition: all 0.5s;
    position: 100%;
}
.portafolio-text{
    position: relative;
    bottom: 50%;
    padding: 100px;
    background-color: #171717;
    opacity: 0.5;
    color: #fff;
    transform: translateX(100%);
    transition: all 0.8s ease-out; 
    font-family: Arial, Helvetica, sana-serif;
    margin: 70px;
}

.portafolio-text p{
    text-align: justify;
}
.portafolio-item:hover .portafolio-text{
    transform: translatey(0%)  
}
